html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    --navbar-height: 5rem;
    z-index: -1;
    background-color: #663399;
}

.navbar {
    background-color: white;
}

.logo-text {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    color: #000;
}

.logo-font {
    font-family: 'Luckiest Guy', cursive;
}

#title-banner {
    padding-top: 1rem;
}

#threejs-container {
    height: 100vw;
    width: 100vw;
    display: block;
    background-color: black;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

.card-img-top { 
    height: 400px;
    object-fit: fill;
}

#control-buttons {
    position: absolute; 
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    top: calc(1rem + var(--navbar-height));
    left: 2rem;
    z-index: 10;
}

#control-buttons button {
    height: 70px;
    border-radius: 1rem;
    background-color: rgb(117, 14, 146);
    color: white;
    border: 1px solid white;
}

#GUI {
    position: absolute;
    top: calc(7rem + var(--navbar-height));
    left: 20px;
    z-index: 1000;
}

.content-area {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.nav-link.active {
    color: blueviolet !important;
}

.dropdown-item.active {
    color: white !important;
}

#about-page {
    background-color: white;
}