html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    --navbar-height: 5rem;
    z-index: -1;
}

.logo-text {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    color: #000;
}

.logo-font {
    font-family: 'Luckiest Guy', cursive;
}

#threejs-container {
    height: 100vw;
    width: 100vw;
    display: block;
    background-color: black;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

#about-page, #main-page {
    display: none;
}

#about-page.active, #main-page.active {
    display: block;
}

.card-img-top { 
    height: 400px;
    object-fit: fill;
}

#control-buttons {
    position:absolute;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    top: calc(2rem + var(--navbar-height));
    left: 2rem;
    z-index: 10;
}

#control-buttons button {
    height: 70px;
    border-radius: 1rem;
    background-color: rgb(117, 14, 146);
    color: white;
}

#GUI {
    position: absolute;
    top: 120px;
    right: 10px;
    z-index: 1000;
}